{
    "python_basic": {
        "base_dir": "/projects",
        "sub_dirs": [
            "!dir_name!/",
            "docs",
            "tests"
        ],
        "files": [
            "!dir_name!/__init__.py",
            "run.py",
            "README.md",
            "LICENSE",
            ".gitignore",
            ".gitattributes"
        ]
    },
    "support_case": {
        "base_dir": "/cases",
        "sub_dirs": [
            "screenshots",
            "logs"
        ],
        "files": [
            "problem.txt",
            "scratch_notes.txt",
            "timeline.txt",
            "solution.txt"
        ]
    }
}
