{
    "template1": {
        "sub_dirs": [
            "test1/",
            "test1/level2/",
            "test2/",
            "test3/",
            "test4/"
        ],
        "files": [
            "test1/level2_file.txt",
            "test1/level2/level3_file.txt",
            "test3/level2_file.txt",
            "level1_file.txt"
        ]
    },
    "template2": {
        "sub_dirs": ["test1/"],
        "files": ["file.txt", "test1/file.txt"]
    }
}
